#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1135px 980px #fff, 130px 889px #fff, 583px 1492px #fff,
    1816px 433px #fff, 182px 583px #fff, 1197px 333px #fff, 944px 478px #fff,
    274px 719px #fff, 1993px 177px #fff, 563px 1734px #fff, 1193px 518px #fff,
    180px 96px #fff, 252px 736px #fff, 64px 522px #fff, 321px 1613px #fff,
    861px 1792px #fff, 923px 710px #fff, 1467px 1096px #fff, 447px 1709px #fff,
    554px 727px #fff, 1266px 424px #fff, 1709px 500px #fff, 787px 320px #fff,
    137px 747px #fff, 644px 883px #fff, 368px 643px #fff, 319px 329px #fff,
    1325px 1608px #fff, 1985px 1569px #fff, 123px 1291px #fff, 1536px 927px #fff,
    314px 706px #fff, 240px 1309px #fff, 697px 894px #fff, 314px 1158px #fff,
    1129px 395px #fff, 1823px 303px #fff, 496px 687px #fff, 1704px 1294px #fff,
    1675px 1365px #fff, 515px 1703px #fff, 1776px 1351px #fff, 694px 860px #fff,
    318px 947px #fff, 1272px 1083px #fff, 904px 373px #fff, 286px 1854px #fff,
    1022px 457px #fff, 633px 989px #fff, 284px 915px #fff, 861px 780px #fff,
    1746px 1214px #fff, 1341px 764px #fff, 1801px 998px #fff, 392px 62px #fff,
    1549px 461px #fff, 1774px 1184px #fff, 1851px 210px #fff, 587px 1094px #fff,
    1993px 209px #fff, 603px 1045px #fff, 1821px 797px #fff, 349px 1240px #fff,
    624px 821px #fff, 1725px 921px #fff, 755px 1841px #fff, 1951px 552px #fff,
    527px 371px #fff, 887px 470px #fff, 215px 1779px #fff, 1884px 1254px #fff,
    1744px 1001px #fff, 597px 1110px #fff, 1529px 1400px #fff,
    1068px 1529px #fff, 1931px 290px #fff, 1859px 1890px #fff, 484px 87px #fff,
    375px 37px #fff, 1523px 299px #fff, 1738px 1391px #fff, 511px 1759px #fff,
    389px 1453px #fff, 1819px 1372px #fff, 1048px 685px #fff, 1347px 671px #fff,
    1830px 1550px #fff, 1513px 1200px #fff, 1492px 316px #fff, 1055px 696px #fff,
    1695px 1415px #fff, 950px 417px #fff, 1187px 1237px #fff, 303px 1406px #fff,
    1737px 177px #fff, 1964px 1924px #fff, 1600px 1682px #fff, 713px 618px #fff,
    637px 434px #fff, 607px 1245px #fff, 463px 838px #fff, 1615px 1592px #fff,
    396px 1142px #fff, 215px 445px #fff, 266px 802px #fff, 1882px 398px #fff,
    109px 1973px #fff, 207px 1488px #fff, 1577px 1671px #fff, 574px 1743px #fff,
    1934px 897px #fff, 1778px 1698px #fff, 1234px 25px #fff, 603px 360px #fff,
    303px 1824px #fff, 3px 98px #fff, 619px 1090px #fff, 545px 306px #fff,
    480px 1290px #fff, 1354px 1005px #fff, 322px 1496px #fff, 1666px 563px #fff,
    1853px 1570px #fff, 684px 866px #fff, 26px 1541px #fff, 174px 1598px #fff,
    1147px 268px #fff, 710px 1049px #fff, 1564px 1080px #fff, 439px 1713px #fff,
    622px 944px #fff, 1946px 46px #fff, 1095px 267px #fff, 1885px 1312px #fff,
    362px 1943px #fff, 1731px 372px #fff, 1188px 960px #fff, 1196px 720px #fff,
    1948px 923px #fff, 173px 1815px #fff, 1361px 553px #fff, 1773px 1555px #fff,
    1608px 888px #fff, 1303px 242px #fff, 1187px 1528px #fff, 1989px 1308px #fff,
    1468px 404px #fff, 1794px 776px #fff, 733px 1416px #fff, 187px 1656px #fff,
    765px 949px #fff, 454px 954px #fff, 1829px 286px #fff, 1915px 441px #fff,
    1081px 776px #fff, 232px 1091px #fff, 1259px 167px #fff, 1851px 1128px #fff,
    1606px 39px #fff, 220px 238px #fff, 1761px 779px #fff, 588px 1101px #fff,
    793px 711px #fff, 1941px 20px #fff, 1484px 54px #fff, 1744px 1739px #fff,
    458px 1596px #fff, 931px 1582px #fff, 1084px 1582px #fff, 607px 923px #fff,
    1772px 809px #fff, 890px 1512px #fff, 611px 1085px #fff, 1531px 1117px #fff,
    1013px 1412px #fff, 1037px 1514px #fff, 1333px 305px #fff, 795px 739px #fff,
    1224px 993px #fff, 1541px 1991px #fff, 43px 1182px #fff, 1908px 1894px #fff,
    606px 1537px #fff, 985px 453px #fff, 1923px 678px #fff, 1796px 1022px #fff,
    165px 1697px #fff, 1298px 1356px #fff, 1582px 919px #fff, 1202px 330px #fff,
    1501px 661px #fff, 1485px 536px #fff, 357px 51px #fff, 1125px 1909px #fff,
    437px 108px #fff, 453px 1498px #fff, 766px 732px #fff, 1293px 1056px #fff,
    917px 1803px #fff, 702px 1961px #fff, 1342px 1751px #fff, 1845px 991px #fff,
    433px 682px #fff, 955px 1673px #fff, 193px 1243px #fff, 609px 909px #fff,
    1036px 239px #fff, 513px 1500px #fff, 385px 1720px #fff, 437px 1641px #fff,
    1870px 1226px #fff, 19px 904px #fff, 750px 1180px #fff, 459px 1039px #fff,
    377px 425px #fff, 1857px 1570px #fff, 1667px 1038px #fff, 1676px 294px #fff,
    1082px 604px #fff, 474px 512px #fff, 1095px 366px #fff, 382px 1178px #fff,
    1033px 1271px #fff, 377px 1964px #fff, 1748px 1128px #fff, 1222px 407px #fff,
    1494px 898px #fff, 1516px 1013px #fff, 655px 1265px #fff, 1121px 1433px #fff,
    815px 636px #fff, 689px 1801px #fff, 686px 345px #fff, 1673px 566px #fff,
    406px 275px #fff, 713px 1434px #fff, 251px 1799px #fff, 1795px 1809px #fff,
    295px 1176px #fff, 1522px 727px #fff, 289px 1239px #fff, 1266px 1339px #fff,
    913px 964px #fff, 1505px 1604px #fff, 561px 309px #fff, 386px 624px #fff,
    1465px 153px #fff, 1477px 1216px #fff, 124px 1187px #fff, 228px 702px #fff,
    448px 630px #fff, 1389px 1311px #fff, 1091px 1018px #fff, 57px 1096px #fff,
    1175px 1352px #fff, 110px 1634px #fff, 1009px 1615px #fff, 931px 1260px #fff,
    1414px 1266px #fff, 481px 1535px #fff, 1874px 642px #fff, 1533px 742px #fff,
    51px 491px #fff, 1642px 631px #fff, 1050px 770px #fff, 1764px 548px #fff,
    1786px 362px #fff, 1901px 506px #fff, 1653px 1139px #fff, 1876px 1064px #fff,
    1041px 972px #fff, 293px 541px #fff, 1374px 1367px #fff, 344px 686px #fff,
    1283px 155px #fff, 1985px 458px #fff, 1866px 2000px #fff, 593px 1001px #fff,
    1027px 504px #fff, 847px 1567px #fff, 1641px 1014px #fff, 1314px 676px #fff,
    1517px 797px #fff, 400px 1011px #fff, 472px 1890px #fff, 833px 1498px #fff,
    38px 1653px #fff, 1334px 445px #fff, 392px 1184px #fff, 590px 567px #fff,
    1922px 173px #fff, 365px 346px #fff, 630px 1058px #fff, 939px 1654px #fff,
    768px 891px #fff, 939px 149px #fff, 1690px 485px #fff, 1480px 760px #fff,
    234px 491px #fff, 1573px 399px #fff, 1930px 1218px #fff, 1892px 781px #fff,
    1582px 80px #fff, 147px 1974px #fff, 1560px 211px #fff, 149px 338px #fff,
    857px 775px #fff, 1360px 1103px #fff, 29px 257px #fff, 1675px 727px #fff,
    424px 1124px #fff, 833px 209px #fff, 1732px 1971px #fff, 1757px 1482px #fff,
    755px 860px #fff, 896px 1652px #fff, 146px 1044px #fff, 658px 476px #fff,
    1463px 575px #fff, 1083px 525px #fff, 1195px 746px #fff, 1526px 1321px #fff,
    356px 405px #fff, 928px 714px #fff, 462px 570px #fff, 1970px 1143px #fff,
    834px 1522px #fff, 1830px 1312px #fff, 1506px 746px #fff, 700px 1753px #fff,
    743px 125px #fff, 1504px 1805px #fff, 1709px 1784px #fff, 1976px 943px #fff,
    306px 342px #fff, 333px 1150px #fff, 440px 6px #fff, 1257px 32px #fff,
    765px 468px #fff, 1446px 1469px #fff, 111px 1888px #fff, 518px 1597px #fff,
    1188px 172px #fff, 1966px 1604px #fff, 372px 489px #fff, 754px 75px #fff,
    1801px 766px #fff, 722px 599px #fff, 710px 1625px #fff, 1175px 1107px #fff,
    416px 157px #fff, 339px 868px #fff, 399px 540px #fff, 1159px 849px #fff,
    1949px 117px #fff, 139px 1192px #fff, 1709px 675px #fff, 1055px 1938px #fff,
    220px 1487px #fff, 1872px 1298px #fff, 282px 580px #fff, 54px 1905px #fff,
    284px 440px #fff, 989px 1729px #fff, 1811px 1021px #fff, 696px 450px #fff,
    1455px 784px #fff, 1104px 677px #fff, 1373px 1107px #fff, 407px 1038px #fff,
    1131px 1730px #fff, 27px 1501px #fff, 605px 783px #fff, 1987px 892px #fff,
    1153px 1447px #fff, 588px 1866px #fff, 761px 455px #fff, 161px 1635px #fff,
    1822px 548px #fff, 369px 695px #fff, 1803px 604px #fff, 57px 943px #fff,
    34px 1013px #fff, 1541px 1564px #fff, 498px 1405px #fff, 1021px 1885px #fff,
    384px 946px #fff, 1836px 933px #fff, 1170px 1659px #fff, 572px 336px #fff,
    979px 1248px #fff, 1683px 142px #fff, 1136px 1890px #fff, 732px 1312px #fff,
    834px 1803px #fff, 1410px 584px #fff, 1998px 642px #fff, 1479px 1883px #fff,
    153px 803px #fff, 1642px 790px #fff, 1389px 627px #fff, 1328px 1820px #fff,
    1100px 877px #fff, 1967px 987px #fff, 714px 857px #fff, 1236px 779px #fff,
    1616px 606px #fff, 1182px 1829px #fff, 376px 1638px #fff, 675px 1068px #fff,
    1236px 415px #fff, 474px 931px #fff, 660px 1021px #fff, 1809px 1722px #fff,
    359px 1397px #fff, 1830px 1933px #fff, 1778px 1442px #fff, 948px 924px #fff,
    1179px 1082px #fff, 1657px 1553px #fff, 1px 1266px #fff, 165px 734px #fff,
    1585px 617px #fff, 1246px 1455px #fff, 293px 1561px #fff, 606px 1641px #fff,
    356px 252px #fff, 1085px 160px #fff, 898px 145px #fff, 383px 155px #fff,
    467px 1947px #fff, 129px 783px #fff, 1377px 647px #fff, 739px 1669px #fff,
    812px 1537px #fff, 14px 1153px #fff, 1253px 1674px #fff, 251px 1089px #fff,
    841px 1606px #fff, 1844px 1553px #fff, 1579px 1626px #fff, 129px 744px #fff,
    1289px 220px #fff, 1330px 47px #fff, 1296px 957px #fff, 531px 849px #fff,
    1270px 1661px #fff, 73px 174px #fff, 75px 1024px #fff, 497px 821px #fff,
    156px 1441px #fff, 764px 510px #fff, 1873px 1442px #fff, 1524px 1973px #fff,
    117px 1273px #fff, 1093px 1397px #fff, 1137px 257px #fff, 1226px 764px #fff,
    1161px 1047px #fff, 1069px 953px #fff, 92px 85px #fff, 983px 1534px #fff,
    663px 504px #fff, 517px 588px #fff, 982px 1905px #fff, 808px 1101px #fff,
    1319px 1523px #fff, 1348px 1739px #fff, 143px 649px #fff, 1021px 1757px #fff,
    402px 1122px #fff, 1312px 127px #fff, 1663px 1292px #fff, 1489px 1927px #fff,
    1422px 770px #fff, 1435px 1315px #fff, 886px 816px #fff, 268px 1486px #fff,
    1455px 739px #fff, 398px 566px #fff, 1741px 1436px #fff, 210px 1243px #fff,
    45px 1897px #fff, 1495px 1865px #fff, 1064px 1065px #fff, 1170px 1275px #fff,
    1127px 1836px #fff, 91px 1100px #fff, 585px 645px #fff, 809px 1552px #fff,
    1621px 443px #fff, 83px 1415px #fff, 56px 1325px #fff, 1600px 1071px #fff,
    1916px 47px #fff, 1232px 839px #fff, 480px 1068px #fff, 792px 1666px #fff,
    1912px 1565px #fff, 897px 588px #fff, 461px 1566px #fff, 628px 1100px #fff,
    73px 1098px #fff, 609px 1362px #fff, 626px 1206px #fff, 250px 161px #fff,
    963px 1406px #fff, 1412px 1362px #fff, 1675px 606px #fff, 825px 769px #fff,
    1870px 562px #fff, 398px 680px #fff, 9px 113px #fff, 1412px 1853px #fff,
    1755px 393px #fff, 32px 791px #fff, 224px 1494px #fff, 1191px 819px #fff,
    728px 998px #fff, 475px 1150px #fff, 1385px 628px #fff, 301px 1742px #fff,
    1638px 1673px #fff, 314px 205px #fff, 1981px 1004px #fff, 1208px 627px #fff,
    1768px 1069px #fff, 1600px 476px #fff, 1507px 398px #fff, 74px 1878px #fff,
    1250px 1742px #fff, 1981px 1934px #fff, 853px 1491px #fff, 268px 1057px #fff,
    1162px 209px #fff, 430px 1448px #fff, 1576px 1329px #fff, 1144px 794px #fff,
    1280px 1096px #fff, 1640px 1391px #fff, 1049px 1968px #fff,
    801px 1610px #fff, 1385px 550px #fff, 1612px 1679px #fff, 245px 444px #fff,
    210px 1144px #fff, 493px 474px #fff, 654px 24px #fff, 1640px 1028px #fff,
    1052px 1997px #fff, 993px 1019px #fff, 1532px 1149px #fff, 1114px 319px #fff,
    429px 1861px #fff, 1304px 200px #fff, 1485px 157px #fff, 163px 1608px #fff,
    1823px 1960px #fff, 1532px 1247px #fff, 1101px 750px #fff, 1498px 130px #fff,
    1332px 1745px #fff, 1429px 1781px #fff, 1446px 763px #fff,
    1349px 1502px #fff, 698px 379px #fff, 1158px 629px #fff, 12px 797px #fff,
    1130px 135px #fff, 1432px 1286px #fff, 1489px 1419px #fff, 1322px 957px #fff,
    1948px 865px #fff, 807px 116px #fff, 903px 1866px #fff, 286px 1941px #fff,
    1767px 1269px #fff, 1001px 1881px #fff, 378px 670px #fff, 609px 1782px #fff,
    1054px 325px #fff, 1739px 380px #fff, 818px 686px #fff, 971px 676px #fff,
    403px 1833px #fff, 1115px 510px #fff, 1926px 457px #fff, 697px 1335px #fff,
    403px 1275px #fff, 744px 905px #fff, 936px 83px #fff, 1530px 1273px #fff,
    54px 825px #fff, 1678px 975px #fff, 220px 1533px #fff, 500px 1861px #fff,
    50px 731px #fff, 197px 1213px #fff, 1913px 1024px #fff, 1046px 1434px #fff,
    806px 1870px #fff, 1711px 1322px #fff, 718px 456px #fff, 68px 1135px #fff,
    1462px 1695px #fff, 1740px 1720px #fff, 1720px 362px #fff, 1078px 652px #fff,
    1791px 1375px #fff, 508px 1175px #fff, 1577px 1496px #fff,
    1249px 1351px #fff, 1438px 1739px #fff, 707px 1969px #fff, 218px 580px #fff,
    588px 1507px #fff, 1238px 1862px #fff, 1160px 549px #fff, 471px 1576px #fff,
    552px 307px #fff, 77px 731px #fff, 436px 688px #fff, 1821px 484px #fff,
    320px 641px #fff, 1812px 298px #fff, 309px 1691px #fff, 1865px 421px #fff,
    1695px 777px #fff, 1857px 1134px #fff, 1075px 226px #fff, 772px 987px #fff,
    280px 70px #fff, 638px 826px #fff, 1396px 1165px #fff, 369px 781px #fff,
    818px 352px #fff, 1436px 726px #fff, 620px 877px #fff, 718px 1327px #fff,
    1369px 534px #fff, 781px 1055px #fff, 925px 146px #fff, 791px 1535px #fff,
    332px 1185px #fff, 1081px 1718px #fff, 277px 1742px #fff, 1481px 1101px #fff,
    1280px 1341px #fff, 1698px 1107px #fff, 681px 1938px #fff, 1799px 143px #fff,
    270px 1517px #fff, 263px 1214px #fff, 71px 730px #fff, 582px 1826px #fff,
    1277px 92px #fff, 521px 695px #fff, 1901px 200px #fff, 2px 1644px #fff,
    1614px 1566px #fff, 934px 1130px #fff, 900px 506px #fff, 936px 1611px #fff,
    1258px 1502px #fff, 637px 1794px #fff, 433px 1794px #fff, 1012px 72px #fff,
    1112px 1071px #fff, 323px 883px #fff, 1303px 1241px #fff, 25px 1053px #fff,
    1050px 1407px #fff, 1238px 250px #fff, 1443px 334px #fff, 537px 1474px #fff,
    1575px 597px #fff, 440px 1878px #fff, 1176px 1967px #fff, 1680px 1879px #fff,
    1971px 1097px #fff, 1335px 846px #fff, 742px 909px #fff, 468px 1660px #fff,
    1854px 1805px #fff, 1360px 1193px #fff, 1283px 862px #fff, 236px 1926px #fff,
    365px 1319px #fff, 1087px 372px #fff, 1873px 841px #fff, 1998px 1207px #fff,
    889px 70px #fff, 202px 1751px #fff, 565px 327px #fff, 905px 1065px #fff,
    104px 510px #fff, 60px 914px #fff, 713px 1990px #fff, 1517px 445px #fff,
    737px 1824px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1135px 980px #fff, 130px 889px #fff, 583px 1492px #fff,
    1816px 433px #fff, 182px 583px #fff, 1197px 333px #fff, 944px 478px #fff,
    274px 719px #fff, 1993px 177px #fff, 563px 1734px #fff, 1193px 518px #fff,
    180px 96px #fff, 252px 736px #fff, 64px 522px #fff, 321px 1613px #fff,
    861px 1792px #fff, 923px 710px #fff, 1467px 1096px #fff, 447px 1709px #fff,
    554px 727px #fff, 1266px 424px #fff, 1709px 500px #fff, 787px 320px #fff,
    137px 747px #fff, 644px 883px #fff, 368px 643px #fff, 319px 329px #fff,
    1325px 1608px #fff, 1985px 1569px #fff, 123px 1291px #fff, 1536px 927px #fff,
    314px 706px #fff, 240px 1309px #fff, 697px 894px #fff, 314px 1158px #fff,
    1129px 395px #fff, 1823px 303px #fff, 496px 687px #fff, 1704px 1294px #fff,
    1675px 1365px #fff, 515px 1703px #fff, 1776px 1351px #fff, 694px 860px #fff,
    318px 947px #fff, 1272px 1083px #fff, 904px 373px #fff, 286px 1854px #fff,
    1022px 457px #fff, 633px 989px #fff, 284px 915px #fff, 861px 780px #fff,
    1746px 1214px #fff, 1341px 764px #fff, 1801px 998px #fff, 392px 62px #fff,
    1549px 461px #fff, 1774px 1184px #fff, 1851px 210px #fff, 587px 1094px #fff,
    1993px 209px #fff, 603px 1045px #fff, 1821px 797px #fff, 349px 1240px #fff,
    624px 821px #fff, 1725px 921px #fff, 755px 1841px #fff, 1951px 552px #fff,
    527px 371px #fff, 887px 470px #fff, 215px 1779px #fff, 1884px 1254px #fff,
    1744px 1001px #fff, 597px 1110px #fff, 1529px 1400px #fff,
    1068px 1529px #fff, 1931px 290px #fff, 1859px 1890px #fff, 484px 87px #fff,
    375px 37px #fff, 1523px 299px #fff, 1738px 1391px #fff, 511px 1759px #fff,
    389px 1453px #fff, 1819px 1372px #fff, 1048px 685px #fff, 1347px 671px #fff,
    1830px 1550px #fff, 1513px 1200px #fff, 1492px 316px #fff, 1055px 696px #fff,
    1695px 1415px #fff, 950px 417px #fff, 1187px 1237px #fff, 303px 1406px #fff,
    1737px 177px #fff, 1964px 1924px #fff, 1600px 1682px #fff, 713px 618px #fff,
    637px 434px #fff, 607px 1245px #fff, 463px 838px #fff, 1615px 1592px #fff,
    396px 1142px #fff, 215px 445px #fff, 266px 802px #fff, 1882px 398px #fff,
    109px 1973px #fff, 207px 1488px #fff, 1577px 1671px #fff, 574px 1743px #fff,
    1934px 897px #fff, 1778px 1698px #fff, 1234px 25px #fff, 603px 360px #fff,
    303px 1824px #fff, 3px 98px #fff, 619px 1090px #fff, 545px 306px #fff,
    480px 1290px #fff, 1354px 1005px #fff, 322px 1496px #fff, 1666px 563px #fff,
    1853px 1570px #fff, 684px 866px #fff, 26px 1541px #fff, 174px 1598px #fff,
    1147px 268px #fff, 710px 1049px #fff, 1564px 1080px #fff, 439px 1713px #fff,
    622px 944px #fff, 1946px 46px #fff, 1095px 267px #fff, 1885px 1312px #fff,
    362px 1943px #fff, 1731px 372px #fff, 1188px 960px #fff, 1196px 720px #fff,
    1948px 923px #fff, 173px 1815px #fff, 1361px 553px #fff, 1773px 1555px #fff,
    1608px 888px #fff, 1303px 242px #fff, 1187px 1528px #fff, 1989px 1308px #fff,
    1468px 404px #fff, 1794px 776px #fff, 733px 1416px #fff, 187px 1656px #fff,
    765px 949px #fff, 454px 954px #fff, 1829px 286px #fff, 1915px 441px #fff,
    1081px 776px #fff, 232px 1091px #fff, 1259px 167px #fff, 1851px 1128px #fff,
    1606px 39px #fff, 220px 238px #fff, 1761px 779px #fff, 588px 1101px #fff,
    793px 711px #fff, 1941px 20px #fff, 1484px 54px #fff, 1744px 1739px #fff,
    458px 1596px #fff, 931px 1582px #fff, 1084px 1582px #fff, 607px 923px #fff,
    1772px 809px #fff, 890px 1512px #fff, 611px 1085px #fff, 1531px 1117px #fff,
    1013px 1412px #fff, 1037px 1514px #fff, 1333px 305px #fff, 795px 739px #fff,
    1224px 993px #fff, 1541px 1991px #fff, 43px 1182px #fff, 1908px 1894px #fff,
    606px 1537px #fff, 985px 453px #fff, 1923px 678px #fff, 1796px 1022px #fff,
    165px 1697px #fff, 1298px 1356px #fff, 1582px 919px #fff, 1202px 330px #fff,
    1501px 661px #fff, 1485px 536px #fff, 357px 51px #fff, 1125px 1909px #fff,
    437px 108px #fff, 453px 1498px #fff, 766px 732px #fff, 1293px 1056px #fff,
    917px 1803px #fff, 702px 1961px #fff, 1342px 1751px #fff, 1845px 991px #fff,
    433px 682px #fff, 955px 1673px #fff, 193px 1243px #fff, 609px 909px #fff,
    1036px 239px #fff, 513px 1500px #fff, 385px 1720px #fff, 437px 1641px #fff,
    1870px 1226px #fff, 19px 904px #fff, 750px 1180px #fff, 459px 1039px #fff,
    377px 425px #fff, 1857px 1570px #fff, 1667px 1038px #fff, 1676px 294px #fff,
    1082px 604px #fff, 474px 512px #fff, 1095px 366px #fff, 382px 1178px #fff,
    1033px 1271px #fff, 377px 1964px #fff, 1748px 1128px #fff, 1222px 407px #fff,
    1494px 898px #fff, 1516px 1013px #fff, 655px 1265px #fff, 1121px 1433px #fff,
    815px 636px #fff, 689px 1801px #fff, 686px 345px #fff, 1673px 566px #fff,
    406px 275px #fff, 713px 1434px #fff, 251px 1799px #fff, 1795px 1809px #fff,
    295px 1176px #fff, 1522px 727px #fff, 289px 1239px #fff, 1266px 1339px #fff,
    913px 964px #fff, 1505px 1604px #fff, 561px 309px #fff, 386px 624px #fff,
    1465px 153px #fff, 1477px 1216px #fff, 124px 1187px #fff, 228px 702px #fff,
    448px 630px #fff, 1389px 1311px #fff, 1091px 1018px #fff, 57px 1096px #fff,
    1175px 1352px #fff, 110px 1634px #fff, 1009px 1615px #fff, 931px 1260px #fff,
    1414px 1266px #fff, 481px 1535px #fff, 1874px 642px #fff, 1533px 742px #fff,
    51px 491px #fff, 1642px 631px #fff, 1050px 770px #fff, 1764px 548px #fff,
    1786px 362px #fff, 1901px 506px #fff, 1653px 1139px #fff, 1876px 1064px #fff,
    1041px 972px #fff, 293px 541px #fff, 1374px 1367px #fff, 344px 686px #fff,
    1283px 155px #fff, 1985px 458px #fff, 1866px 2000px #fff, 593px 1001px #fff,
    1027px 504px #fff, 847px 1567px #fff, 1641px 1014px #fff, 1314px 676px #fff,
    1517px 797px #fff, 400px 1011px #fff, 472px 1890px #fff, 833px 1498px #fff,
    38px 1653px #fff, 1334px 445px #fff, 392px 1184px #fff, 590px 567px #fff,
    1922px 173px #fff, 365px 346px #fff, 630px 1058px #fff, 939px 1654px #fff,
    768px 891px #fff, 939px 149px #fff, 1690px 485px #fff, 1480px 760px #fff,
    234px 491px #fff, 1573px 399px #fff, 1930px 1218px #fff, 1892px 781px #fff,
    1582px 80px #fff, 147px 1974px #fff, 1560px 211px #fff, 149px 338px #fff,
    857px 775px #fff, 1360px 1103px #fff, 29px 257px #fff, 1675px 727px #fff,
    424px 1124px #fff, 833px 209px #fff, 1732px 1971px #fff, 1757px 1482px #fff,
    755px 860px #fff, 896px 1652px #fff, 146px 1044px #fff, 658px 476px #fff,
    1463px 575px #fff, 1083px 525px #fff, 1195px 746px #fff, 1526px 1321px #fff,
    356px 405px #fff, 928px 714px #fff, 462px 570px #fff, 1970px 1143px #fff,
    834px 1522px #fff, 1830px 1312px #fff, 1506px 746px #fff, 700px 1753px #fff,
    743px 125px #fff, 1504px 1805px #fff, 1709px 1784px #fff, 1976px 943px #fff,
    306px 342px #fff, 333px 1150px #fff, 440px 6px #fff, 1257px 32px #fff,
    765px 468px #fff, 1446px 1469px #fff, 111px 1888px #fff, 518px 1597px #fff,
    1188px 172px #fff, 1966px 1604px #fff, 372px 489px #fff, 754px 75px #fff,
    1801px 766px #fff, 722px 599px #fff, 710px 1625px #fff, 1175px 1107px #fff,
    416px 157px #fff, 339px 868px #fff, 399px 540px #fff, 1159px 849px #fff,
    1949px 117px #fff, 139px 1192px #fff, 1709px 675px #fff, 1055px 1938px #fff,
    220px 1487px #fff, 1872px 1298px #fff, 282px 580px #fff, 54px 1905px #fff,
    284px 440px #fff, 989px 1729px #fff, 1811px 1021px #fff, 696px 450px #fff,
    1455px 784px #fff, 1104px 677px #fff, 1373px 1107px #fff, 407px 1038px #fff,
    1131px 1730px #fff, 27px 1501px #fff, 605px 783px #fff, 1987px 892px #fff,
    1153px 1447px #fff, 588px 1866px #fff, 761px 455px #fff, 161px 1635px #fff,
    1822px 548px #fff, 369px 695px #fff, 1803px 604px #fff, 57px 943px #fff,
    34px 1013px #fff, 1541px 1564px #fff, 498px 1405px #fff, 1021px 1885px #fff,
    384px 946px #fff, 1836px 933px #fff, 1170px 1659px #fff, 572px 336px #fff,
    979px 1248px #fff, 1683px 142px #fff, 1136px 1890px #fff, 732px 1312px #fff,
    834px 1803px #fff, 1410px 584px #fff, 1998px 642px #fff, 1479px 1883px #fff,
    153px 803px #fff, 1642px 790px #fff, 1389px 627px #fff, 1328px 1820px #fff,
    1100px 877px #fff, 1967px 987px #fff, 714px 857px #fff, 1236px 779px #fff,
    1616px 606px #fff, 1182px 1829px #fff, 376px 1638px #fff, 675px 1068px #fff,
    1236px 415px #fff, 474px 931px #fff, 660px 1021px #fff, 1809px 1722px #fff,
    359px 1397px #fff, 1830px 1933px #fff, 1778px 1442px #fff, 948px 924px #fff,
    1179px 1082px #fff, 1657px 1553px #fff, 1px 1266px #fff, 165px 734px #fff,
    1585px 617px #fff, 1246px 1455px #fff, 293px 1561px #fff, 606px 1641px #fff,
    356px 252px #fff, 1085px 160px #fff, 898px 145px #fff, 383px 155px #fff,
    467px 1947px #fff, 129px 783px #fff, 1377px 647px #fff, 739px 1669px #fff,
    812px 1537px #fff, 14px 1153px #fff, 1253px 1674px #fff, 251px 1089px #fff,
    841px 1606px #fff, 1844px 1553px #fff, 1579px 1626px #fff, 129px 744px #fff,
    1289px 220px #fff, 1330px 47px #fff, 1296px 957px #fff, 531px 849px #fff,
    1270px 1661px #fff, 73px 174px #fff, 75px 1024px #fff, 497px 821px #fff,
    156px 1441px #fff, 764px 510px #fff, 1873px 1442px #fff, 1524px 1973px #fff,
    117px 1273px #fff, 1093px 1397px #fff, 1137px 257px #fff, 1226px 764px #fff,
    1161px 1047px #fff, 1069px 953px #fff, 92px 85px #fff, 983px 1534px #fff,
    663px 504px #fff, 517px 588px #fff, 982px 1905px #fff, 808px 1101px #fff,
    1319px 1523px #fff, 1348px 1739px #fff, 143px 649px #fff, 1021px 1757px #fff,
    402px 1122px #fff, 1312px 127px #fff, 1663px 1292px #fff, 1489px 1927px #fff,
    1422px 770px #fff, 1435px 1315px #fff, 886px 816px #fff, 268px 1486px #fff,
    1455px 739px #fff, 398px 566px #fff, 1741px 1436px #fff, 210px 1243px #fff,
    45px 1897px #fff, 1495px 1865px #fff, 1064px 1065px #fff, 1170px 1275px #fff,
    1127px 1836px #fff, 91px 1100px #fff, 585px 645px #fff, 809px 1552px #fff,
    1621px 443px #fff, 83px 1415px #fff, 56px 1325px #fff, 1600px 1071px #fff,
    1916px 47px #fff, 1232px 839px #fff, 480px 1068px #fff, 792px 1666px #fff,
    1912px 1565px #fff, 897px 588px #fff, 461px 1566px #fff, 628px 1100px #fff,
    73px 1098px #fff, 609px 1362px #fff, 626px 1206px #fff, 250px 161px #fff,
    963px 1406px #fff, 1412px 1362px #fff, 1675px 606px #fff, 825px 769px #fff,
    1870px 562px #fff, 398px 680px #fff, 9px 113px #fff, 1412px 1853px #fff,
    1755px 393px #fff, 32px 791px #fff, 224px 1494px #fff, 1191px 819px #fff,
    728px 998px #fff, 475px 1150px #fff, 1385px 628px #fff, 301px 1742px #fff,
    1638px 1673px #fff, 314px 205px #fff, 1981px 1004px #fff, 1208px 627px #fff,
    1768px 1069px #fff, 1600px 476px #fff, 1507px 398px #fff, 74px 1878px #fff,
    1250px 1742px #fff, 1981px 1934px #fff, 853px 1491px #fff, 268px 1057px #fff,
    1162px 209px #fff, 430px 1448px #fff, 1576px 1329px #fff, 1144px 794px #fff,
    1280px 1096px #fff, 1640px 1391px #fff, 1049px 1968px #fff,
    801px 1610px #fff, 1385px 550px #fff, 1612px 1679px #fff, 245px 444px #fff,
    210px 1144px #fff, 493px 474px #fff, 654px 24px #fff, 1640px 1028px #fff,
    1052px 1997px #fff, 993px 1019px #fff, 1532px 1149px #fff, 1114px 319px #fff,
    429px 1861px #fff, 1304px 200px #fff, 1485px 157px #fff, 163px 1608px #fff,
    1823px 1960px #fff, 1532px 1247px #fff, 1101px 750px #fff, 1498px 130px #fff,
    1332px 1745px #fff, 1429px 1781px #fff, 1446px 763px #fff,
    1349px 1502px #fff, 698px 379px #fff, 1158px 629px #fff, 12px 797px #fff,
    1130px 135px #fff, 1432px 1286px #fff, 1489px 1419px #fff, 1322px 957px #fff,
    1948px 865px #fff, 807px 116px #fff, 903px 1866px #fff, 286px 1941px #fff,
    1767px 1269px #fff, 1001px 1881px #fff, 378px 670px #fff, 609px 1782px #fff,
    1054px 325px #fff, 1739px 380px #fff, 818px 686px #fff, 971px 676px #fff,
    403px 1833px #fff, 1115px 510px #fff, 1926px 457px #fff, 697px 1335px #fff,
    403px 1275px #fff, 744px 905px #fff, 936px 83px #fff, 1530px 1273px #fff,
    54px 825px #fff, 1678px 975px #fff, 220px 1533px #fff, 500px 1861px #fff,
    50px 731px #fff, 197px 1213px #fff, 1913px 1024px #fff, 1046px 1434px #fff,
    806px 1870px #fff, 1711px 1322px #fff, 718px 456px #fff, 68px 1135px #fff,
    1462px 1695px #fff, 1740px 1720px #fff, 1720px 362px #fff, 1078px 652px #fff,
    1791px 1375px #fff, 508px 1175px #fff, 1577px 1496px #fff,
    1249px 1351px #fff, 1438px 1739px #fff, 707px 1969px #fff, 218px 580px #fff,
    588px 1507px #fff, 1238px 1862px #fff, 1160px 549px #fff, 471px 1576px #fff,
    552px 307px #fff, 77px 731px #fff, 436px 688px #fff, 1821px 484px #fff,
    320px 641px #fff, 1812px 298px #fff, 309px 1691px #fff, 1865px 421px #fff,
    1695px 777px #fff, 1857px 1134px #fff, 1075px 226px #fff, 772px 987px #fff,
    280px 70px #fff, 638px 826px #fff, 1396px 1165px #fff, 369px 781px #fff,
    818px 352px #fff, 1436px 726px #fff, 620px 877px #fff, 718px 1327px #fff,
    1369px 534px #fff, 781px 1055px #fff, 925px 146px #fff, 791px 1535px #fff,
    332px 1185px #fff, 1081px 1718px #fff, 277px 1742px #fff, 1481px 1101px #fff,
    1280px 1341px #fff, 1698px 1107px #fff, 681px 1938px #fff, 1799px 143px #fff,
    270px 1517px #fff, 263px 1214px #fff, 71px 730px #fff, 582px 1826px #fff,
    1277px 92px #fff, 521px 695px #fff, 1901px 200px #fff, 2px 1644px #fff,
    1614px 1566px #fff, 934px 1130px #fff, 900px 506px #fff, 936px 1611px #fff,
    1258px 1502px #fff, 637px 1794px #fff, 433px 1794px #fff, 1012px 72px #fff,
    1112px 1071px #fff, 323px 883px #fff, 1303px 1241px #fff, 25px 1053px #fff,
    1050px 1407px #fff, 1238px 250px #fff, 1443px 334px #fff, 537px 1474px #fff,
    1575px 597px #fff, 440px 1878px #fff, 1176px 1967px #fff, 1680px 1879px #fff,
    1971px 1097px #fff, 1335px 846px #fff, 742px 909px #fff, 468px 1660px #fff,
    1854px 1805px #fff, 1360px 1193px #fff, 1283px 862px #fff, 236px 1926px #fff,
    365px 1319px #fff, 1087px 372px #fff, 1873px 841px #fff, 1998px 1207px #fff,
    889px 70px #fff, 202px 1751px #fff, 565px 327px #fff, 905px 1065px #fff,
    104px 510px #fff, 60px 914px #fff, 713px 1990px #fff, 1517px 445px #fff,
    737px 1824px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1679px 1260px #fff, 283px 209px #fff, 756px 1938px #fff,
    617px 1779px #fff, 1382px 962px #fff, 171px 700px #fff, 623px 1342px #fff,
    419px 1044px #fff, 1558px 891px #fff, 1862px 347px #fff, 989px 1210px #fff,
    948px 1413px #fff, 1168px 739px #fff, 1116px 1463px #fff, 1911px 6px #fff,
    536px 1003px #fff, 60px 1530px #fff, 1993px 130px #fff, 295px 859px #fff,
    1849px 708px #fff, 1787px 1301px #fff, 316px 1221px #fff, 1464px 1268px #fff,
    905px 1247px #fff, 630px 250px #fff, 1638px 1513px #fff, 395px 610px #fff,
    1557px 387px #fff, 1318px 341px #fff, 422px 124px #fff, 191px 843px #fff,
    336px 1626px #fff, 886px 1244px #fff, 66px 1724px #fff, 1309px 946px #fff,
    771px 892px #fff, 1228px 1614px #fff, 98px 1879px #fff, 297px 153px #fff,
    207px 1704px #fff, 1540px 947px #fff, 1023px 42px #fff, 555px 1294px #fff,
    1249px 425px #fff, 1280px 22px #fff, 75px 1852px #fff, 284px 1132px #fff,
    1944px 866px #fff, 1694px 1928px #fff, 1680px 1250px #fff, 516px 1550px #fff,
    421px 374px #fff, 285px 36px #fff, 1357px 1911px #fff, 953px 1721px #fff,
    1740px 1586px #fff, 839px 1730px #fff, 1491px 682px #fff, 1329px 1861px #fff,
    591px 417px #fff, 1737px 571px #fff, 1430px 694px #fff, 253px 626px #fff,
    1275px 202px #fff, 605px 1684px #fff, 99px 179px #fff, 495px 1994px #fff,
    1823px 1011px #fff, 731px 1607px #fff, 215px 538px #fff, 573px 1093px #fff,
    712px 1073px #fff, 1736px 1750px #fff, 1690px 1608px #fff, 928px 659px #fff,
    640px 1214px #fff, 471px 1952px #fff, 466px 1515px #fff, 1917px 1993px #fff,
    287px 1876px #fff, 488px 742px #fff, 1851px 344px #fff, 369px 328px #fff,
    651px 1164px #fff, 1657px 140px #fff, 1669px 59px #fff, 1748px 458px #fff,
    1759px 288px #fff, 1832px 1378px #fff, 752px 661px #fff, 819px 401px #fff,
    554px 116px #fff, 1970px 107px #fff, 888px 402px #fff, 719px 386px #fff,
    199px 771px #fff, 1366px 906px #fff, 765px 1022px #fff, 770px 752px #fff,
    1272px 840px #fff, 1739px 523px #fff, 1582px 668px #fff, 1787px 40px #fff,
    713px 1905px #fff, 1688px 1100px #fff, 1397px 1454px #fff, 165px 840px #fff,
    872px 1333px #fff, 1133px 1862px #fff, 834px 306px #fff, 1751px 1943px #fff,
    513px 1706px #fff, 1604px 787px #fff, 1534px 635px #fff, 1900px 1016px #fff,
    243px 1100px #fff, 1709px 1311px #fff, 1344px 1831px #fff, 1673px 137px #fff,
    515px 939px #fff, 747px 152px #fff, 1376px 299px #fff, 808px 1213px #fff,
    1018px 538px #fff, 1530px 1426px #fff, 25px 202px #fff, 1859px 756px #fff,
    877px 169px #fff, 1204px 1187px #fff, 363px 503px #fff, 914px 1063px #fff,
    1321px 73px #fff, 771px 9px #fff, 1005px 1488px #fff, 1248px 1480px #fff,
    1392px 1822px #fff, 466px 545px #fff, 1549px 329px #fff, 582px 1036px #fff,
    1802px 651px #fff, 61px 983px #fff, 1293px 508px #fff, 81px 93px #fff,
    641px 569px #fff, 65px 621px #fff, 1094px 1910px #fff, 1309px 1549px #fff,
    1763px 16px #fff, 1893px 1925px #fff, 342px 170px #fff, 1546px 1949px #fff,
    1275px 1106px #fff, 404px 1562px #fff, 274px 149px #fff, 919px 1739px #fff,
    590px 916px #fff, 342px 336px #fff, 1745px 857px #fff, 1887px 792px #fff,
    1317px 425px #fff, 1131px 1025px #fff, 816px 1532px #fff, 880px 1153px #fff,
    1442px 961px #fff, 1884px 1924px #fff, 1039px 1823px #fff, 239px 794px #fff,
    478px 132px #fff, 1053px 1624px #fff, 1204px 1893px #fff, 241px 153px #fff,
    1598px 408px #fff, 145px 908px #fff, 530px 1036px #fff, 634px 792px #fff,
    338px 1818px #fff, 852px 1176px #fff, 145px 1693px #fff, 142px 1322px #fff,
    1717px 712px #fff, 1607px 1059px #fff, 122px 870px #fff, 1061px 717px #fff,
    773px 891px #fff, 564px 1805px #fff, 1951px 1543px #fff, 1897px 1141px #fff,
    934px 1890px #fff, 1687px 1864px #fff, 796px 1425px #fff, 1731px 41px #fff,
    1415px 96px #fff, 603px 317px #fff, 659px 1005px #fff, 1879px 1964px #fff,
    7px 901px #fff, 1312px 98px #fff, 226px 653px #fff, 1302px 1775px #fff,
    469px 560px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1679px 1260px #fff, 283px 209px #fff, 756px 1938px #fff,
    617px 1779px #fff, 1382px 962px #fff, 171px 700px #fff, 623px 1342px #fff,
    419px 1044px #fff, 1558px 891px #fff, 1862px 347px #fff, 989px 1210px #fff,
    948px 1413px #fff, 1168px 739px #fff, 1116px 1463px #fff, 1911px 6px #fff,
    536px 1003px #fff, 60px 1530px #fff, 1993px 130px #fff, 295px 859px #fff,
    1849px 708px #fff, 1787px 1301px #fff, 316px 1221px #fff, 1464px 1268px #fff,
    905px 1247px #fff, 630px 250px #fff, 1638px 1513px #fff, 395px 610px #fff,
    1557px 387px #fff, 1318px 341px #fff, 422px 124px #fff, 191px 843px #fff,
    336px 1626px #fff, 886px 1244px #fff, 66px 1724px #fff, 1309px 946px #fff,
    771px 892px #fff, 1228px 1614px #fff, 98px 1879px #fff, 297px 153px #fff,
    207px 1704px #fff, 1540px 947px #fff, 1023px 42px #fff, 555px 1294px #fff,
    1249px 425px #fff, 1280px 22px #fff, 75px 1852px #fff, 284px 1132px #fff,
    1944px 866px #fff, 1694px 1928px #fff, 1680px 1250px #fff, 516px 1550px #fff,
    421px 374px #fff, 285px 36px #fff, 1357px 1911px #fff, 953px 1721px #fff,
    1740px 1586px #fff, 839px 1730px #fff, 1491px 682px #fff, 1329px 1861px #fff,
    591px 417px #fff, 1737px 571px #fff, 1430px 694px #fff, 253px 626px #fff,
    1275px 202px #fff, 605px 1684px #fff, 99px 179px #fff, 495px 1994px #fff,
    1823px 1011px #fff, 731px 1607px #fff, 215px 538px #fff, 573px 1093px #fff,
    712px 1073px #fff, 1736px 1750px #fff, 1690px 1608px #fff, 928px 659px #fff,
    640px 1214px #fff, 471px 1952px #fff, 466px 1515px #fff, 1917px 1993px #fff,
    287px 1876px #fff, 488px 742px #fff, 1851px 344px #fff, 369px 328px #fff,
    651px 1164px #fff, 1657px 140px #fff, 1669px 59px #fff, 1748px 458px #fff,
    1759px 288px #fff, 1832px 1378px #fff, 752px 661px #fff, 819px 401px #fff,
    554px 116px #fff, 1970px 107px #fff, 888px 402px #fff, 719px 386px #fff,
    199px 771px #fff, 1366px 906px #fff, 765px 1022px #fff, 770px 752px #fff,
    1272px 840px #fff, 1739px 523px #fff, 1582px 668px #fff, 1787px 40px #fff,
    713px 1905px #fff, 1688px 1100px #fff, 1397px 1454px #fff, 165px 840px #fff,
    872px 1333px #fff, 1133px 1862px #fff, 834px 306px #fff, 1751px 1943px #fff,
    513px 1706px #fff, 1604px 787px #fff, 1534px 635px #fff, 1900px 1016px #fff,
    243px 1100px #fff, 1709px 1311px #fff, 1344px 1831px #fff, 1673px 137px #fff,
    515px 939px #fff, 747px 152px #fff, 1376px 299px #fff, 808px 1213px #fff,
    1018px 538px #fff, 1530px 1426px #fff, 25px 202px #fff, 1859px 756px #fff,
    877px 169px #fff, 1204px 1187px #fff, 363px 503px #fff, 914px 1063px #fff,
    1321px 73px #fff, 771px 9px #fff, 1005px 1488px #fff, 1248px 1480px #fff,
    1392px 1822px #fff, 466px 545px #fff, 1549px 329px #fff, 582px 1036px #fff,
    1802px 651px #fff, 61px 983px #fff, 1293px 508px #fff, 81px 93px #fff,
    641px 569px #fff, 65px 621px #fff, 1094px 1910px #fff, 1309px 1549px #fff,
    1763px 16px #fff, 1893px 1925px #fff, 342px 170px #fff, 1546px 1949px #fff,
    1275px 1106px #fff, 404px 1562px #fff, 274px 149px #fff, 919px 1739px #fff,
    590px 916px #fff, 342px 336px #fff, 1745px 857px #fff, 1887px 792px #fff,
    1317px 425px #fff, 1131px 1025px #fff, 816px 1532px #fff, 880px 1153px #fff,
    1442px 961px #fff, 1884px 1924px #fff, 1039px 1823px #fff, 239px 794px #fff,
    478px 132px #fff, 1053px 1624px #fff, 1204px 1893px #fff, 241px 153px #fff,
    1598px 408px #fff, 145px 908px #fff, 530px 1036px #fff, 634px 792px #fff,
    338px 1818px #fff, 852px 1176px #fff, 145px 1693px #fff, 142px 1322px #fff,
    1717px 712px #fff, 1607px 1059px #fff, 122px 870px #fff, 1061px 717px #fff,
    773px 891px #fff, 564px 1805px #fff, 1951px 1543px #fff, 1897px 1141px #fff,
    934px 1890px #fff, 1687px 1864px #fff, 796px 1425px #fff, 1731px 41px #fff,
    1415px 96px #fff, 603px 317px #fff, 659px 1005px #fff, 1879px 1964px #fff,
    7px 901px #fff, 1312px 98px #fff, 226px 653px #fff, 1302px 1775px #fff,
    469px 560px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1492px 1664px #fff, 92px 1405px #fff, 1950px 990px #fff,
    635px 238px #fff, 128px 525px #fff, 1528px 1863px #fff, 140px 106px #fff,
    708px 1889px #fff, 1360px 588px #fff, 1778px 481px #fff, 807px 270px #fff,
    1407px 1509px #fff, 1282px 1963px #fff, 1597px 1547px #fff,
    1745px 1745px #fff, 441px 1921px #fff, 1390px 270px #fff, 1364px 954px #fff,
    1573px 41px #fff, 1062px 1435px #fff, 273px 711px #fff, 660px 785px #fff,
    1317px 891px #fff, 18px 395px #fff, 866px 852px #fff, 753px 1049px #fff,
    1896px 729px #fff, 1901px 1880px #fff, 1319px 1182px #fff, 297px 95px #fff,
    921px 1550px #fff, 1984px 906px #fff, 543px 710px #fff, 640px 93px #fff,
    700px 243px #fff, 259px 1785px #fff, 336px 740px #fff, 1731px 1671px #fff,
    114px 1216px #fff, 28px 1168px #fff, 215px 1010px #fff, 973px 325px #fff,
    1437px 1132px #fff, 639px 1291px #fff, 1840px 1465px #fff,
    1611px 1735px #fff, 523px 1315px #fff, 459px 1081px #fff, 646px 1786px #fff,
    630px 1573px #fff, 913px 617px #fff, 458px 1267px #fff, 225px 1440px #fff,
    1003px 1099px #fff, 1041px 242px #fff, 180px 1011px #fff, 1509px 1775px #fff,
    1774px 1910px #fff, 1880px 852px #fff, 1067px 919px #fff, 1578px 544px #fff,
    828px 288px #fff, 1609px 28px #fff, 847px 876px #fff, 1132px 1137px #fff,
    335px 1283px #fff, 207px 1295px #fff, 1100px 1252px #fff, 1645px 773px #fff,
    1024px 878px #fff, 137px 179px #fff, 1030px 1027px #fff, 1654px 1210px #fff,
    1170px 49px #fff, 1940px 1641px #fff, 1819px 1527px #fff, 726px 881px #fff,
    292px 510px #fff, 385px 797px #fff, 1343px 704px #fff, 1006px 871px #fff,
    1930px 1808px #fff, 567px 1055px #fff, 1178px 323px #fff, 991px 1116px #fff,
    115px 38px #fff, 1991px 1835px #fff, 734px 1692px #fff, 1386px 430px #fff,
    347px 781px #fff, 1942px 1018px #fff, 894px 785px #fff, 407px 1176px #fff,
    447px 1835px #fff, 1125px 1268px #fff, 1106px 1041px #fff, 1108px 476px #fff,
    808px 1067px #fff, 432px 1707px #fff, 971px 436px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1492px 1664px #fff, 92px 1405px #fff, 1950px 990px #fff,
    635px 238px #fff, 128px 525px #fff, 1528px 1863px #fff, 140px 106px #fff,
    708px 1889px #fff, 1360px 588px #fff, 1778px 481px #fff, 807px 270px #fff,
    1407px 1509px #fff, 1282px 1963px #fff, 1597px 1547px #fff,
    1745px 1745px #fff, 441px 1921px #fff, 1390px 270px #fff, 1364px 954px #fff,
    1573px 41px #fff, 1062px 1435px #fff, 273px 711px #fff, 660px 785px #fff,
    1317px 891px #fff, 18px 395px #fff, 866px 852px #fff, 753px 1049px #fff,
    1896px 729px #fff, 1901px 1880px #fff, 1319px 1182px #fff, 297px 95px #fff,
    921px 1550px #fff, 1984px 906px #fff, 543px 710px #fff, 640px 93px #fff,
    700px 243px #fff, 259px 1785px #fff, 336px 740px #fff, 1731px 1671px #fff,
    114px 1216px #fff, 28px 1168px #fff, 215px 1010px #fff, 973px 325px #fff,
    1437px 1132px #fff, 639px 1291px #fff, 1840px 1465px #fff,
    1611px 1735px #fff, 523px 1315px #fff, 459px 1081px #fff, 646px 1786px #fff,
    630px 1573px #fff, 913px 617px #fff, 458px 1267px #fff, 225px 1440px #fff,
    1003px 1099px #fff, 1041px 242px #fff, 180px 1011px #fff, 1509px 1775px #fff,
    1774px 1910px #fff, 1880px 852px #fff, 1067px 919px #fff, 1578px 544px #fff,
    828px 288px #fff, 1609px 28px #fff, 847px 876px #fff, 1132px 1137px #fff,
    335px 1283px #fff, 207px 1295px #fff, 1100px 1252px #fff, 1645px 773px #fff,
    1024px 878px #fff, 137px 179px #fff, 1030px 1027px #fff, 1654px 1210px #fff,
    1170px 49px #fff, 1940px 1641px #fff, 1819px 1527px #fff, 726px 881px #fff,
    292px 510px #fff, 385px 797px #fff, 1343px 704px #fff, 1006px 871px #fff,
    1930px 1808px #fff, 567px 1055px #fff, 1178px 323px #fff, 991px 1116px #fff,
    115px 38px #fff, 1991px 1835px #fff, 734px 1692px #fff, 1386px 430px #fff,
    347px 781px #fff, 1942px 1018px #fff, 894px 785px #fff, 407px 1176px #fff,
    447px 1835px #fff, 1125px 1268px #fff, 1106px 1041px #fff, 1108px 476px #fff,
    808px 1067px #fff, 432px 1707px #fff, 971px 436px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
